@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Rubik&display=swap');

body {
    height: 100vh;
    margin: 0;

    /* background: #184f18; */
    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background: rgba(0, 0, 0, 0.3); */
    background: #184f18;
    padding: 50px;

    border-radius: 10px;
    box-shadow: 0 0 10px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.tablero {
    display: flex;
    justify-content: space-around;
}
.tablero > div {
    margin: 30px;
}

.controles {
    display: flex;
    justify-content: space-between;
}
.controles .boton {
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    /* pointer-events: none; */
}
.controles .boton:hover {
    cursor: pointer;
}



p {
    color: white;
}
p span {
    display: flex;
    justify-content: start;
}
p span div {
    text-align: center;
    margin: 1px;
}
span#mano-casa {
    color: red;
}
span#mano-jugador {
    color: black;
}

.carta {
    background: #ffffff;
    border: 1px solid black;
    height: 45px;
    width: 30px;
    border-radius: 2px;
    position: relative;
}
.carta .num {
    font-family: 'Cousine', monospace;
    /* font-family: 'Rubik', sans-serif; */
    position: absolute;
    margin: 0 1px;
    font-size: 0.65rem;
}
.carta .num.top {
    top: 0;
    left: 0;
}
.carta .num.bot {
    bottom: 0;
    right: 0;
    transform: rotateZ(180deg);
}
.carta .palo {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}
