@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Kanit&family=Rubik&display=swap');
body {
    height: 100vh;
    margin: 0;

    font-family: 'Kanit', sans-serif;
    /* background: #184f18; */
    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background: rgba(0, 0, 0, 0.3); */
    background: #184f18;
    padding: 50px;
    width: 65%;

    border-radius: 10px;
    box-shadow: 0 0 10px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.tablero {
    display: flex;
    justify-content: space-around;
}
.tablero > div {
    margin: 30px;
}

.controles {
    display: flex;
    justify-content: space-between;
}
.controles .boton {
    margin: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background: #161515;
    color: #ddad32;
    transition: all 0.3s;
    /* pointer-events: none; */
}
.controles .boton:hover {
    cursor: pointer;
    box-shadow: 0 0 4px 1px #ddad32;
}
.controles .boton:disabled {
    opacity: 0.7;
}

p {
    color: white;
}
p span {
    display: flex;
    justify-content: start;
}
p span div {
    text-align: center;
    margin: 1px;
}

